/*magin/padding reset do css*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("./imagens site/background.jpg");
    background-size: auto 100vh;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    font-size: 12px;
  }

  /*novo/ se a tela tiver 400px vai carregar esses estilos*/
  @media (min-width: 300px) {
    body{
     font-size: 10px;
    }
  }
  @media (min-width: 400px) {
  body{
    font-size: 14px;
    }
  }
  @media (min-width: 768px) {
    body{
      font-size: 25px;
    }
  }
  header{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu {
    background-color: #1122;
    position: fixed;
    top: 0;
  }

  .menu ul{
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }

  .menu li{
    list-style: none;
  }
  
  .menu a{
    display: block;
    padding: 10px 20px;
    transition: color 2s;
  }
  .menu a:hover{
    text-shadow: 0px 0px 15px green;
    color: white;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .site-title{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #032E9B;
    line-height: 1.3em;
  }

  .site-subtitle{
    font-size: 1em;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #DE0000;
    line-height: 1.5em;
  }
/*seção de portfolio*/
  .portfolio {
  padding: 1em;
  margin-bottom: 1em;
  }
  .portfolio a:hover{
     color: black;
     background-color: blanchedalmond;
  }
  .portfolio h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em;
  }
  .portfolio P{
    font-family: 'Source Code Pro';
    color: #0037D5;
    text-indent: 1em;
    Background-color: white;
  }
  .portfolio .grid{
   display: grid;
   gap: 2em;
   grid-template-columns: 240px;
  }
/*media do portfolio*/
  @media (min-width: 300px){
  .portfolio .grid{
      grid-template-columns: 240px;
     justify-content: center;}
  }
  @media (min-width: 1000px){
  .portfolio .grid{
    grid-template-columns: 540px;
    justify-content: center;}
  }

  .portfolio figure{
    text-align: center;
  }

  .img-portfolio{
    height: 200px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
  }

  .Jogos h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em;
  }
  .Jogos .grid{
    display: grid;
    gap: 2em;
    grid-template-columns: 240px;
  }
  @media (min-width: 300px){
    .Jogos .grid{
      grid-template-columns: 240px;
     justify-content: center;}
  }
  @media (min-width: 1000px){
    .Jogos .grid{
      grid-template-columns:  540px 540px;
     justify-content: center;}
  }
.Jogos p{
  font-family: 'Source Code Pro';
  color: #0037D5;
  text-indent: 1em;
  Background-color: white;
}
  .Jogos figure{
    text-align: center;
  }
  .img-jogos{
    height: 200px;
    width: 250px;
    object-fit: cover;
    border-radius: 10px;
  }
  /*seção de contatos*/
  .contato h2{
    font-size: 1em;
  }
  .contato a {
   color: whitesmoke;
   font-size: 2em;
  }
 .contato a:hover{
   text-decoration: none;
   text-shadow: 0px 0px 15px red;
 }
.contato .icons{
  text-align: center;
}
.contato{
  background-size: auto 100vh;
  height: 15vh;
}
